<!-- SHOWPAGE FOR EACH KIND ACT with dynamic routing -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Kind Act Showpage</title> -->
     <!-- Changing Kind Act Showpage title to a dynamic title that changes to which id showpage you are on. -->
     <title><%= kindact.title %></title>

</head>
<body>

    <h1><%= kindact.title %></h1> 

    <!-- Creating message/function so that once updated, page will show message for better UI -->
    <% if (typeof success !== 'undefined' && success) { %>
        <p class="success-message">✅ Kind Act successfully updated!</p>
    <% } %>

    <!-- Checkbox Functionality -->
    <% if (kindact.isTestedRandomActOfKindness) { %>
        <p>This Kind Act has been tested and makes a positive impact! Give it a try!</p>
    <% } else { %>
        <p>This one’s untested... But you could be the first to spark change!</p>
    <% } %>

    <br><br>

    <!-- ! Need CSS for (below) Edit & Delete Functionality Buttons to be side by side -->

    <!-- Edit Functionality -->
    <!-- Initially wrote a PUT method, but need a get method first to get to the page for editing. -->
     <form action="/kindacts/<%= kindact._id %>/edit" method="GET">
        <button type="submit">Edit <%= kindact.title %></button>
     </form> 

     <br>

    <!-- Delete Functionality -->
    <form id="delete-form" action="/kindacts/<%= kindact._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= kindact.title %></button>
    </form>
     <!-- Normally, forms only support GET or POST methods, 
      but we want to send a DELETE request. To achieve this, we use a 
      query parameter ?_method=DELETE in the action URL. This tricks our server 
      into treating the POST request as a DELETE request, thanks to the 
      method-override middleware we set up in server.js. -->

    <br>

    <a href="/kindacts">⬅︎ Let's Check Out More Kind Acts! Woot Woot!</a> <br>
    <a href="/">⬅︎ Back to Homepage</a>



    <!-- Write COMMENTS SECTION here before script tag, since need all html to load for fully effective script tag functionality -->
    <!-- ! Adding comments form here directly to showpage. That way, users can submit a comment while viewing the kind act. -->
    <!-- ! Originally, going to make form on a separate file and page, but then user would have to go to a separate page and that would decrease UI. -->

    <!-- ! Also need to add/create a loop through comments & display them underneath the kind act and the comment form. Need to look up how to do that. -->

    


    

    <!-- Warning Message Before Deletion -->
    <!-- Can't customize the browser's confirm() popup because it uses system's built in 'Ok' and 'Cancel'. If want to change it need to use my own custom modal popoup and not confirm() -->
    <!-- To customize popup need to add js at bottom of page, update my form above, and also add addtl html to show pages body. -->
    <!-- ! If I have time, I'd like to customize "Ok" and "Cancel" to "Confirm Deletion" and "Keep Kind Act" for further UI clarity. -->
    <script>
    const deleteFormPopup = document.getElementById("delete-form");
    deleteFormPopup.addEventListener("submit", function(event) {
        const confirmed = confirm("!!!! --- Warning: Are you sure you want to delete this Kind Act? Once this action is taken, it can't be undone --- !!!!!");
        if (!confirmed) {
            event.preventDefault();
        }
        });
    </script>


</body>
</html>
